<% layout("/layouts/boilerplate.ejs") %>

<title><%= appName %></title>

<!-- <div class="heading">
  <h3>All Listings</h3>
  <hr class="hr" />
</div> -->

<div class="filter-bar">
  <div id="filters">
    <div class="filter">
      <div>
        <i class="fa-solid fa-fire"></i>
      </div>
      <span>Trending</span>
      <div class="underline"></div>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-bed"></i>
      </div>
      <span>Rooms</span>
      <div class="underline"></div>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-mountain-city"></i>
      </div>
      <span>Iconic Cities</span>
      <div class="underline"></div>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-mountain"></i>
      </div>
      <span>Mountains</span>
      <div class="underline"></div>
    </div>
    <div class="filter">
      <div>
        <i class="fa-brands fa-fort-awesome"></i>
      </div>
      <span>Castles</span>
      <div class="underline"></div>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-person-swimming"></i>
      </div>
      <span>Amazing Pools</span>
      <div class="underline"></div>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-campground"></i>
      </div>
      <span>Camping</span>
      <div class="underline"></div>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-cow"></i>
      </div>
      <span>Farms</span>
      <div class="underline"></div>
    </div>
    <div class="filter">
      <div>
        <i class="fa-regular fa-snowflake"></i>
      </div>
      <span>Arctic</span>
      <div class="underline"></div>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-bowling-ball"></i>
      </div>
      <span>Indoors</span>
      <div class="underline"></div>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-person-skiing"></i>
      </div>
      <span>Skiing</span>
      <div class="underline"></div>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-palette"></i>
      </div>
      <span>Creative Places</span>
      <div class="underline"></div>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-landmark"></i>
      </div>
      <span>Monuments</span>
      <div class="underline"></div>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-fish-fins"></i>
      </div>
      <span>Fishing</span>
      <div class="underline"></div>
    </div>
  </div>
  <div class="tax-toggle">
    <div class="form-check form-switch form-check-reverse">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Display total after Taxes</label
      >
    </div>
  </div>
</div>

<hr class="hr" />

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for(listing of listings ) { %>
  <div class="listing p-4">
    <a href="/listings/<%=listing._id%>">
      <div class="card col listing-card">
        <div class="card-img mb-2">
          <img
            src="<%=listing.image.url%>"
            class="card-img-top"
            alt="<%= listing.image.filename %>"
            style="height: 20rem"
          />
        </div>
        <div class="card-img-overlay overlay"></div>
        <div class="card-body listing-body m-1">
          <h5 class="card-title"><b><%=listing.title%></b></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <i><%=listing.location%>, <%=listing.country%></i>
          </h6>
          <p class="card-text">
            <b>
              &#8377;<span id="text"
                ><%=listing.price.toLocaleString("en-IN") %></span
              > </b
            >/ night
            <i class="tax-info">&nbsp;&nbsp;+ 18% GST</i>
            <br />
          </p>
        </div>
      </div>
    </a>
  </div>
  <% } %>
</div>

<script src="/js/taxSwitch.js"></script>
