<!-- <%- // include("../includes/header.ejs") %> -->
<% layout("/layouts/boilerplate.ejs") %>
<html>
  <title>Wanderlust</title>
  <body>
    <div class="heading">
      <h3>All Listings</h3>
      <!-- <form method="GET" action="/listings/new">
        <button>Add Listing</button>
      </form> -->
    </div>

    <!-- <ul>
      <% // for(listing of listings ) { %>
      <li><a href="/listings/<%= // listing._id%>"><%=// listing.title%></a></li>
      <% // } %>
    </ul> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for(listing of listings ) { %>
      <a href="/listings/<%=listing._id%>">
        <div class="card col">
          <img
            src="<%=listing.image.url%>"
            class="card-img-top"
            alt="<%= listing.image.filename %>"
            style="height: 20rem"
          />
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <h5 class="card-title"><b><%=listing.title%></b></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
              <i><%=listing.location%>, <%=listing.country%></i>
            </h6>
            <p class="card-text">
              &#8377;<%=listing.price.toLocaleString("en-IN") %> / night
              <br />
            </p>
          </div>
        </div>
      </a>
      <% } %>
    </div>
  </body>
</html>
<!-- <%- // include("../includes/footer.ejs") %> -->
