<!-- <%- // include("../includes/header.ejs") %> -->
<% layout("/layouts/boilerplate.ejs") %>
<html>
  <title>Wanderlust : <%=listing.title%></title>
  <body>
    <div class="row mb-5">
      <div class="col-8 offset-3">
        <h3>Listing Details</h3>
        <hr class="hr col-9 mb-4" />
      </div>
      <br />
      <div class="card col-6 offset-3 show-card">
        <img
          src="<%=listing.image.url%>"
          class="card-img-top show-img"
          alt="<%=listing.image.filename%>"
        />
        <div class="card-body">
          <p class="card-text"><b><%=listing.title%></b></p>
          <div class="desc"><i><%=listing.description%></i></div>
          <p class="card-text">
            <%=listing.location%> <% if(listing.location !== "" &&
            listing.country !== "") {%>
            <br />
            <%}%> <%=listing.country%> <%if(listing.location !== "" ||
            listing.country !== ""){%>
            <br />
            <br /><% } if(listing.price) {%>
            <b> &#8377;<%=listing.price.toLocaleString("en-IN") %> </b>
            &nbsp;/night <% } %>
            <br />
          </p>
        </div>
      </div>

      <br />
      <div class="btns position-xs-static">
        <a
          href="/listings/<%=listing._id%>/edit"
          class="btn btn-primary offset-3 edit-btn"
          >Edit</a
        >

        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
          <button class="btn btn-dark offset-5">Delete</button>
        </form>
      </div>
    </div>
  </body>
</html>
<!-- <%- // include("../includes/header.ejs") %> -->
